* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

table {
  color: #333;
  font-family: sans-serif;
  font-size: .9em;
  font-weight: 300;
  text-align: left;
  line-height: 40px;
  border-spacing: 0;
  border: 1px solid #428bca;
  width: 100%;
}

thead tr:first-child {
  background: #428bca;
  color: #fff;
  border: none;
}

th {font-weight: bold;text-align: left;}
th:first-child, td:first-child {padding: 0 15px 0 20px;}

thead tr:last-child th {/* border-bottom: 2px solid #ddd; */}

tbody tr:hover {background-color: #f0fbff;}
tbody tr:last-child td {border: none;}
tbody td {border-bottom: 1px solid #ddd;}

td:last-child {
  text-align: right;
  padding-right: 10px;
}

.button {
  color: #428bca;
  text-align: center;
  text-decoration: none;
  padding-left: 15px;
}

.button:hover {
  text-decoration: underline;
  cursor: pointer;
}